*.class
project-team05/.classpath
project-team05/bin
project-team05/report.txt
**/.DS_Store
report.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.txt
